<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrintTaskFrequency" value="60"/> <!--in seconds-->
    <add key="PingTimeout" value="5"/> <!--in seconds-->
  </appSettings>
  <connectionStrings>
    <add name="DBDataSource" connectionString="data source=krr-tst-pahwl02;initial catalog=KRR-PA-ISA95_PRODUCTION;persist security info=True;Uid=auth_windows;MultipleActiveResultSets=true;Pooling=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>