<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrintTaskFrequency" value="60"/> <!--in seconds-->
    <add key="PingTimeout" value="5"/> <!--in seconds-->
    <add key="OdataServiceUri" value="http://mssql2014srv/odata_unified_svc/api/Dynamic/"/>
  </appSettings>
  <connectionStrings>
    <add name="DBDataSource" connectionString="data source=192.168.100.174;initial catalog=B2MML-BatchML;persist security info=True;user id=vimas;password=mercury;MultipleActiveResultSets=true;Pooling=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
