<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrintTaskFrequency" value="5"/> <!--in seconds-->
	<!--dot size 4 (4x4 pixels one point)-->
    <add key="DataMatrixDotSize" value="4" />
    <!--Image Name in Excel that should be replaced with DataMatrix image (starts with)-->
    <add key="ReplaceImageSearchName" value="QRCode" />
    <add key="OdataServiceUri" value="http://krr-tst-palbp01/odata_unified_svc/api/Dynamic/"/>
    <add key="SMTPHost" value="NLD-HUB-NLB01.services.mittalco.com" />
    <add key="SMTPPort" value="25" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
